{% extends 'base.html' %}
{% block header %}
<header>
    {{ block.super }}
</header>

{% endblock %}

{% block content %}

    <table>
        <tr>
            <th>Imie</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>Nazwisko</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.username }}</td>
        </tr>
    </table>

    <h3>Lista przekazanych darów</h3>

    <table>
        <tr>
            <th>Data odbioru</th>
            <th>Organizacja</th>
            <th>Kategorie</th>
            <th>Ilość worków</th>
            <th>Status darowizny</th>
        </tr>
        {% for don in donations %}
        <tr>
            <td>{{ don.pick_up_date }}</td>
            <td>{{ don.institution }}</td>
            <td>{{ don.category_names }}</td>
            <td>{{ don.quantity }}</td>
            <td>
                {% if don.is_taken == False %}
                    nieodebrane
                {% else %}
                    odebrane
                {% endif %}
                <form method="post">
                {% csrf_token %}
                    <button type="submit" value="{{ don.pk }}" name="don_status">Zmień status</button>
                </form>
            </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}